<h1>Numeric Directive Example</h1>


<div class="row">
  <div class="col-md-4">
      <label>Basic Test</label>
      <input type="text" appNumeric class="form-control">
  </div>
</div>



<div class="row">
  <div class="col-md-4">
      <label>Allow Decimal Test</label>
      <input type="text" appNumeric allowDecimal="true" class="form-control">
  </div>
</div>


<div class="row">
  <div class="col-md-4">
      <label>input type="number"</label>
      <input type="number" class="form-control">
  </div>
</div>