<div class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" [routerLink]="''">{{title}}</a>
</div>

<div class="container p-2">
  <app-menu-page>
    <div style="text-align:center">
      <h1>
        Welcome to {{ title }}!
      </h1>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <h2>Presentation Examples:</h2>
      </div>
      <div class="col-md-6">
        <img width="400" alt="Angular Logo" style="position:absolute; right:25px; border: 1px solid black"
          src="assets/images/vslive-chicago.jpg">
      </div>
    </div>
  </app-menu-page>
</div>