/* You can add global styles to this file, and also import other style files */



.btn {
    margin-right:3px;
}

.child-control {
    border: 1px dashed green;
    margin:5px;
    padding: 5px;
}


.parent-control {
    border: 1px dashed lightblue;
    margin:5px;
    padding: 5px;
}